* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 1fr;
      grid-template-columns: 15rem 1fr;
}

.home .navbar {
  height: 100vh;
  min-height: 100vh;
  min-width: 13.75rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.home .navbar .title-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB354), to(#EE7A3A));
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  text-align: center;
}

.home .navbar .title-nav h2 {
  font-weight: 700;
  color: #fff;
  font-size: 1.9rem;
  line-height: 35px;
}

.home .navbar .navegation {
  margin-top: 1rem;
}

.home .navbar .navegation li {
  width: 100%;
  border-bottom: 2px solid #E7E7E7;
}

.home .navbar .navegation li::marker {
  background-color: #fff1ea;
  border-left: 6px solid linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

.home .navbar .navegation li a {
  font-size: 15px;
  color: #725C5C;
  font-weight: 600;
  text-decoration: none;
  line-height: 2rem;
  padding-left: 25px;
  font-family: 'Quicksand', sans-serif;
}

.home .navbar .navegation #orange {
  background-color: #fff1ea;
  border-left: 4px solid #ED7839;
}

.home .page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2.5rem;
}

.home .page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  background-color: #fff1ea;
  color: #725C5C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.home .page header .title-header span {
  font-size: .9rem;
}

.home .page header .title-header h3 {
  font-weight: 500;
  margin: 0;
}

.home .page header .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
}

.home .page header .end .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #CCC;
  color: #333;
  height: 1.5rem;
  width: 5.3rem;
  padding: .5rem;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2rem;
  font-size: 14px;
}

.home .page header .end .language:hover {
  background-color: rgba(200, 200, 200, 0.09);
}

.home .page header .end .language .icon-language {
  background-image: url(../assets/global.png);
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.home .page header .end .language .icon-arrowDown {
  position: absolute;
  right: 15%;
  top: 25%;
  padding-left: .5rem;
}

.home .page header .end .language .icon-arrowDown .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.home .page header .end .language .icon-arrowDown .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.home .page header .end .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5rem;
}

.home .page header .end .login p {
  text-align: end;
}

.home .page header .end .login div {
  background-image: url(../assets/image-profile.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 10%;
  margin-right: 2.5rem;
}

.home .page .title-page {
  font-size: 20px;
  color: #ED7839;
}

.home .page .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home .page .buttons .btn {
  margin-right: .5rem;
}

.home .page .buttons .donwload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  width: 120px;
  height: 31px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #ED7839;
}

.home .page .buttons .donwload div {
  padding-right: .3rem;
}

.home .page .buttons .favorite {
  position: relative;
  background-color: #ED7839;
  width: 43px;
  height: 31px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.home .page .buttons .favorite div {
  position: absolute;
  background-image: url(../assets/star-23-16.ico);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 30%;
}

.home .page .buttons .doi {
  position: relative;
  background-color: #ED7839;
  width: 43px;
  height: 31px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.home .page .buttons .doi div {
  position: absolute;
  background-image: url(../assets/doi.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 15%;
  left: 25%;
}

.home .page #text-buttons {
  margin-top: .7rem;
  text-align: end;
  color: #ED7839;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */