* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.home {
    display: grid;
    grid-template-columns: 15rem 1fr;

    .navbar {
        height: 100vh;
        min-height: 100vh;
        min-width: 13.75rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);

        .title-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4.25rem;
            background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
            text-align: center;

            h2 {
                font-weight: 700;
                color: #fff;
                font-size: 1.9rem;
                line-height: 35px;
            }
        }

        .navegation {
            li {
                width: 100%;
                border-bottom: 2px solid #E7E7E7;

                &::marker {
                    background-color: #FDF1EB;
                    border-left: 6px solid linear-gradient(180deg, #FFB455 0%, #ED7839 100%);;
                }

                a {
                    font-size: 15px;
                    color: #725C5C;
                    text-decoration: none;
                    line-height: 2rem;
                    padding-left: 25px;
                }
            }

            #orange {
                background-color: #FDF1EB;
                border-left: 4px solid #ED7839;
            }
        }
    }

    .page {

        header {
            display: flex;
            flex-direction: row;
            width: 100%;

            .language {
                display: flex;
                position: relative;
                align-items: center;
                border: 1px solid rgb(184, 184, 184);
                color: #333;
                height: 1.2rem;
                width: 5.5rem;
                padding: .5rem;
                cursor: pointer;
                border-radius: 4px;

                &:hover {
                    background-color: rgba(200, 200, 200, .3);
                }

                .icon-language {
                    background-image: url(../assets/global.png);
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                }

                .icon-arrowDown {
                    position: absolute;
                    right: 10%;
                    top: 12%;
                    padding-left: .5rem;

                    .arrow {
                        border: solid black;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 3px;
                    }

                    .down {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }
            }
        }

        .favorite {
            background-image: url(../assets/global.png);
            background-repeat: no-repeat;
            background-color: orangered;
            width: 25px;
            height: 25px;
        }

    }
}