$branco: #fff;
$branco-border: #E7E7E7;
$laranja-claro:#FDF1EB;
$laranja-escuro: #ED7839;
$laranja-linear: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);;
$marrom-text: #725C5C;
$cinza-claro:  #5C5C5C;
$cinza-medio: #4E4E4E;
$cinza-escuro: #333333;


$robot: 'Roboto', sans-serif;
$quicksand: 'Quicksand', sans-serif;
