.credits {
    background-image: url(../assets/imagemFooter.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 181px;
    margin-top: 2.5rem;
    margin-left: 1.5em;
    padding-bottom: 2rem;

    @media (max-width: 760px) {
        background-size: contain;
        height: 65px;
        width: 97%;
        margin: .5rem;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}