.navbar {
  position: fixed;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 760px) {
  .navbar {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.navbar #mobile-menu {
  display: none;
}

@media (max-width: 760px) {
  .navbar #mobile-menu {
    display: block;
    position: absolute;
    color: white;
    left: 5%;
    top: 25%;
    cursor: pointer;
  }
  .navbar #mobile-menu:checked {
    color: red;
  }
}

.navbar .title-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB354), to(#EE7A3A));
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  text-align: center;
}

@media (max-width: 760px) {
  .navbar .title-nav {
    padding-left: .5rem;
    width: 100vw;
    height: 8vh;
    background: #ED7839;
  }
}

.navbar .title-nav h2 {
  font-weight: 700;
  color: #fff;
  font-size: 1.9rem;
}

@media (max-width: 760px) {
  .navbar .title-nav h2 {
    font-size: 1.6rem;
  }
}

.navbar #nav-list {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 65vh;
  z-index: 5;
}

@media (max-width: 760px) {
  .navbar #nav-list {
    width: 45vw;
    height: 95vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #ED7839;
    -webkit-transform: translateY(-2.2%);
            transform: translateY(-2.2%);
    position: fixed;
    z-index: 999;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    left: -100%;
  }
  .navbar #nav-list::after {
    content: "";
    position: absolute;
    height: 100%;
    right: -2px;
    -webkit-box-shadow: 0px 0px 10px 0.7px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 0px 10px 0.7px rgba(0, 0, 0, 0.9);
  }
}

.navbar #nav-list li {
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  list-style: none;
}

.navbar #nav-list li:hover {
  background-color: #FDF1EB;
  border-left: 4px solid #ED7839;
}

@media (max-width: 760px) {
  .navbar #nav-list li {
    cursor: pointer;
  }
  .navbar #nav-list li:hover {
    border: none;
    background-color: #FDF1EB;
  }
  .navbar #nav-list li:hover a {
    color: #ED7839;
  }
}

.navbar #nav-list li a {
  font-size: 16px;
  color: #725C5C;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
  line-height: 2rem;
  padding-left: 25px;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 760px) {
  .navbar #nav-list li a {
    color: #fff;
    letter-spacing: 1px;
    padding: 8px;
    font-weight: normal;
  }
}

.navbar #nav-list #orange {
  background-color: #FDF1EB;
  border-left: 4px solid #ED7839;
}

@media (max-width: 760px) {
  .navbar #nav-list #orange {
    border: none;
    width: 100%;
  }
  .navbar #nav-list #orange a {
    color: #ED7839;
  }
}

header {
  background-color: #FDF1EB;
  height: 70px;
  margin-bottom: 1rem;
}

@media (max-width: 760px) {
  header {
    margin-top: 4vh;
    height: 85px;
  }
}

header .header {
  padding-top: .2rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  color: #725C5C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 760px) {
  header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .6rem;
  }
}

header .header .title-header {
  padding-left: 2.5rem;
}

@media (max-width: 760px) {
  header .header .title-header {
    padding-left: 1rem;
  }
  header .header .title-header span {
    font-size: .6rem;
  }
  header .header .title-header h3 {
    font-size: .8rem;
  }
}

header .header span {
  font-size: .9rem;
}

header .header span h3 {
  font-weight: 500;
  font-size: 22px;
}

header .header .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2.5rem;
}

@media (max-width: 760px) {
  header .header .end {
    display: none;
  }
}

header .header .end .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #CCC;
  color: #444;
  height: 1rem;
  width: 5rem;
  padding: .5rem;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2rem;
  font-size: 14px;
}

@media (max-width: 1365px) {
  header .header .end .language {
    height: .8rem;
    width: 4rem;
    font-size: 12px;
  }
}

header .header .end .language:hover {
  background-color: rgba(200, 200, 200, 0.09);
}

header .header .end .language .icon-language {
  background-image: url(../assets/global.png);
  background-size: cover;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

@media (max-width: 1365px) {
  header .header .end .language .icon-language {
    background-size: cover;
    width: 10px;
    height: 10px;
  }
}

header .header .end .language .icon-arrowDown {
  position: absolute;
  right: 13%;
  top: 18%;
}

@media (max-width: 1365px) {
  header .header .end .language .icon-arrowDown {
    right: 10%;
    top: 20%;
    padding-left: 0;
  }
}

header .header .end .language .icon-arrowDown .arrow {
  border: solid black;
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 3px;
}

@media (max-width: 1365px) {
  header .header .end .language .icon-arrowDown .arrow {
    border-width: 0 2px 2px 0;
  }
}

header .header .end .language .icon-arrowDown .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

header .header .end .login p {
  text-align: end;
  width: 100%;
}

header .header .end .login div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 100%;
}

header .header .end .image-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  background-image: url(../assets/image-profile.png);
  background-size: contain;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 10px;
}

header .header .end .image-profile span {
  font-size: 11px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  width: 12px;
  height: 12px;
  background-color: #F85959;
  position: absolute;
}

@media (max-width: 760px) {
  * {
    max-width: 100vw;
  }
  .image-slaca {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */