@import "../var.scss";

.navbar {
    height: 100vh;
    min-height: 100vh;
    min-width: 13.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    .title-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.25rem;
        background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
        text-align: center;

        h2 {
            font-weight: 700;
            color: #fff;
            font-size: 1.9rem;
            line-height: 35px;
        }
    }

    .navegation {
        margin-top: 1rem;

        li {
            width: 100%;
            border-bottom: 2px solid $branco-border;

            a {
                font-size: 16px;
                color: $marrom-text;
                font-weight: 600;
                text-decoration: none;
                line-height: 2rem;
                padding-left: 25px;
                font-family: 'Quicksand', sans-serif;
            }
        }

        #orange {
            background-color: $laranja-claro;
            border-left: 4px solid $laranja-escuro;
            width: 236px;
          // box-shadow: 0 0 10px rgba(0, 0, 0, .25);
        }
    }
}

header {
    background-color: $laranja-claro;
    height: 70px;
    margin-bottom: 1rem;

    .header {
        padding-top: .2rem;
        display: flex;
        flex-direction: row;
        display: grid;
        width: 100%;
        grid-template-columns: 60% 40%;
        color: $marrom-text;
        align-items: center;

        .title-header {
            padding-left: 2.5rem;
            
            span {
                font-size: .9rem;
            }

            h3 {
                font-weight: 500;
                margin: 0;
                font-size: 22px;
            }
        }
        .end {
            display: flex;
            justify-content: flex-end;
            padding-right: 2.5rem;

            .language {
                display: flex;
                position: relative;
                align-items: center;
                border: 2px solid #CCC;
                color: #444;
                height: 1rem;
                width: 5rem;
                padding: .5rem;
                cursor: pointer;
                border-radius: 4px;
                margin-right: 2rem;
                font-size: 14px;

                @media (max-width: 1365px) {
                    height: .8rem;
                    width: 4rem;
                    font-size: 12px;

                }

                &:hover {
                    background-color: rgba(200, 200, 200, .09);
                }

                .icon-language {
                    background-image: url(../assets/global.png);
                    background-size: cover;
                    width: 14px;
                    height: 14px;
                    margin-right: 5px;
                    
                    @media (max-width: 1365px) {
                        background-size: cover;
                        width: 10px;
                        height: 10px;
                    }
                }

                .icon-arrowDown {
                    position: absolute;
                    right: 13%;
                    top: 18%;

                    @media (max-width: 1365px) {
                        right: 10%;
                        top: 20%;
                        padding-left: 0;
                    }

                    .arrow {
                        border: solid black;
                        border-width: 0 2.5px 2.5px 0;
                        display: inline-block;
                        padding: 3px;

                        @media (max-width: 1365px) {
                            border-width: 0 2px 2px 0;
                        }
                    }

                    .down {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }
            }

            .login {
                
                
                    p {
                        text-align: end;
                        width: 100%;
                    }

                    div {
                        display: flex;
                        justify-content: flex-end;
                        align-content: flex-end;
                        width: 100%;
                    }
            }
            .image-profile {
                display: flex;
                justify-content: flex-end;
                align-self: center;
                background-image: url(../assets/image-profile.png);
                background-size: contain;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-left: 10px;

                span {
                    font-size: 11px;                            
                    text-align: center;
                    border-radius: 10px;
                    color: $branco;
                    width: 12px;
                    height: 12px;
                    background-color: #F85959;
                    position: absolute;
                }
            }
        }
    }
}